<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="layout.css" rel="stylesheet" />
    <link href="/admin_project_register/admin_project_register.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-box">
            <img class="head-logo" src="logo.png" alt="상단로고">
        </div>
    </header>
    <section>
        
    </section>
    <footer>
        <div class="footer-wrap">
            <div class="foot-logo-box">
                <img class="foot-logo" src="logo.png" alt="하단로고">
            </div>
            <div class="info-box">
                <div class="company-info">
                    <div class="company-info-1">주식회사 두두아이티 | 대표명: 박영선 | 사업자등록번호 : 318-81-01990</div>
                    <div class="company-info-1">주소 : 서울시 금천구 가마산로 96(가산동) 대륭테크노타운 8차 213호(우 08501)</div>
                    <div class="company-info-1">대표번호/FAX : 02-6929-2210/042-367-0978</div>
                </div>
                <div class="copyright-info">Copyright(C) 두두아이티 ALL rights reserved.</div>
                <div class="policy-info">개인정보처리방침</div>
            </div>
        </div>
    </footer>
</body>
</html>