.project-list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-list-title {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #053B75;
    width: 626px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.pj-title-en {
    color: gray;
    font-size: 14px;
}
.pj-title-ko {
    color: #053B75;
    font-size: 20px;
    font-weight: bold;
} 
.project-list-table {
    width: 950px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td, tr {
    border: 1px solid black;
}
th {
    background-color: #053B75;
    color: white;
}
tr {
    height: 40px;
}
td {
    text-align: center;
}
.project-num-td {
    color: #053B75;
    font-weight: bold;
}
.project-name-td {
    text-align: start;
    padding-left: 10px;
}

.table-options {
    height: 40px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-category,
.search-input {
    height: 35px;
    border-radius: 4px;
    border: 1px solid gray
}

.to-calender-btn,
.search-btn {
    height: 35px;
    width: 100px;
    background-color: #053B75;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}